<div class="container">
  <h3 class="center mat-display-1">LOGIN</h3>

  <form class="form">
    <div style="width: auto">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput placeholder="Enter your username" />
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput placeholder="Enter your password" />
    </mat-form-field>

    <div>
      <button type="submit" mat-stroked-button>Login</button>&nbsp;
      <!-- <button type="submit" mat-stroked-button>
        <mat-icon>facebook</mat-icon>
        Login with Facebook
      </button> -->
    </div>
  </form>
</div>
